<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565601496547-8jrkll1ri0m1d8h3f2hoeb0jtkmr60ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565601496547-8jrkll1ri0m1d8h3f2hoeb0jtkmr60ur</string>
	<key>API_KEY</key>
	<string>AIzaSyCyxH8tPcbu_UYeOGvVpidXEG8mU9wmbrY</string>
	<key>GCM_SENDER_ID</key>
	<string>565601496547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ai.MapApp</string>
	<key>PROJECT_ID</key>
	<string>crowdcommute</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdcommute.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565601496547:ios:49dc08dbc2a223a94284d6</string>
</dict>
</plist>